*~
*.la
*.lo
*.o
/aclocal.m4
/autom4te.cache
/cpptest-*.tar.*
/cpptest-*.zip
/config.log
/config.status
/config/config.guess
/config/config.h
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/config/stamp-h
/configure
/INSTALL.quick
/libcpptest.pc
/libtool
/Makefile
/Makefile.in
/README
